footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__a {
    display: flex;
    text-decoration: none;
}

.footer__a:visited {
    color: #fff;
}
.footer__a:link {
    color: #fff;
}

.footer__boton {
    margin: auto;
    border: 1px solid #fff;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    width: 120px;
    /* flex-grow: 1; */
    text-align: center;
}

.footer__boton:hover{
    background-color: #333;
}

