/* ********************************* 
               BANNER 
 ********************************* */
 .banner {
    height: 50vh;
    background-image: linear-gradient(to right, #333 , rgb(51, 53, 71));
}

.banner__img{
    /* background-image: url("/assets/silueta.png"); */
    background-size: 450px;
    background-repeat: no-repeat;
    height: 100%; 
    background-position: left top;
    filter: contrast(150%);
    overflow: visible;
    display: flex;
}


.banner__texto {
    font-size: 2em;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    text-shadow: 3px 3px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
}
