/* ********************************* 
              RECUADROS
 ********************************* */

.recuadro__titulo {
    padding-top: 10px;
    font-size: larger;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.recuadro__item {
    width: 400px;
    display: flex;
    margin: 5px;
    border-top: 1px solid rgb(255, 255, 255);
    background-color: #333;
}

.recuadro__item-img {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: 0px;
    margin-top: 10px;
}

.recuadro__item-datos {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#acercaDe {
    width: 500px;
}
#experiencia {
    width: 500px;
}

.boton{
    margin: 10px;
    border: solid 1px white;
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #222;
    cursor: pointer;
    background-color: rgb(9, 48, 9);
}
.boton:hover{
    background-color: rgb(20, 102, 20);
}

.error {
    text-align: center;
    color: red;
}