
h1 {
    margin: 20px;
    text-align: center;
}

/* ********************************* 
               BOTONERA 
 ********************************* */

.botonera {
    width: 100%;
    height: calc(50vh - 120px);
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
    /* background-color: aqua; */
    justify-content: center;
    flex-wrap: wrap;
}

.botonera__boton {
    width: 300px;
    height: 60px;
    background-color: rgba(0,  0, 0, .5);
    display: grid;
    grid-template-columns: 60px,180px,60px;
    border-radius: 15px;
}
.botonera__boton:hover {
    background-color: rgba(0,  0, 0, .8);
}
.botonera__img {
    grid-column: 1/2;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
}
.botonera__texto {
    grid-column: 2/3;
    display: flex;
}
.botonera__texto span {
    margin: auto;
    color: #aaa;
}

.botonera__signo {
    grid-column: 3/4;
    display: flex;
}
.botonera__signo span{
    margin: auto;
    color: #aaa;
    font-size: 20px;
}

#botonera__admin {
    background-image: url("/assets/admin.png");
}

#botonera__sobremi {
    background-image: url("/assets/about.png");
}
#botonera__educacion {
    background-image: url("/assets/edu.png");
}
#botonera__proyectos {
    background-image: url("/assets/proyectos.png");
}
#botonera__contacto {
    background-image: url("/assets/contact.png");
}

