.botonera {
    width: 100vw;
    height: calc(50vh - 110px);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#about {
    background-image: url("/assets/about.png");
}
#edu {
    background-image: url("/assets/edu.png");
}
#proyects {
    background-image: url("/assets/proyectos.png");
}
#contact {
    background-image: url("/assets/contact.png");
}
.botonera__imagen {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.botonera__imagen:hover {
    filter: drop-shadow(10px 10px 5px #000);
}

a {
    background:aqua;
}

img {
    height: 50%;
}